@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
}

/* nav bar */

header {
  background: #005eeb;
  display: flex;
}

header.navbar-container {
  width: 100%;
  margin-inline: auto;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-block: 1rem;
  z-index: 999;
}

header.navbar-container .logo img {
  width: 250px;
  align-items: center;
  margin-inline: auto;
}

.logo {
  font-size: 10px;
  padding: 10px;
  background-color: #005eeb;
  text-align: center;
  color: white;
}

header.navbar-container .isi-logo ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .isi-logo li {
  list-style: none;
}

header.navbar-container .isi-logo li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: .5rem 1.5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
}

header.navbar-container .isi-logo li:hover a {
  background-color: rgb(37, 158, 214);
  color: white;
}


main {
  margin-inline: auto;
  padding: 2rem 4rem;
  flex: 1;
 
  display: flex;
  align-items: center;
  flex-direction: column;
}

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

.social-media {
  display: flex;
  top: 50%;
}

.social-media ul {
  padding: 1.5rem 1rem;
  margin: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #2375cc;
  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.social-media li {
  list-style-type: none;
}

.social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all .1s ease-in-out;
}

.social-media li a:hover {
  color: #4f73d6;
}

/* beranda */

.beranda {
  display: flex;
  top: 0;
  left: 0;
  padding: 0 40px;
  width: 100%;
  justify-content: space-around;
  /* height: 600px; */
  background: white;
}

.kiri-header {
  margin: 25px;
}

.kiri-header h3 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #000;
  font-weight: 700;
}

.kiri-header .span1 {
  color: #1f1c7a;
  font-weight: bold;
}

.kiri-header p {
  font-size: 20px;
  color: #6e92df;
}

.kiri-header .span2 {
  color: #1f1c7a;
}

.beranda img {
  height: 150px;
  padding: 10px;
  width: 250px;
}

/*Tentang*/

article {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem 4rem;
  flex: 1;
 
  display: flex;
  align-items: center;
  flex-direction: column;
}

article .konten {
  flex: 1;
  display: flex;
  align-items: center;
}

article .konten .konten-deskripsi {
  flex: 1 1;
}

article .konten .konten-deskripsi .title {
  font-size: 3.5rem;
  margin-block: 1rem;
}

article .konten .konten-deskripsi p {
  line-height: 1.7rem;
  font-size: 1.2rem;
  color: #6e92df;
}

article .konten .konten-img {
  flex: 1;
  display: flex;
}

.konten-img img{
  margin: auto;
  min-width: 250px;
  width: 200px;
  height: 150px;
}

.title {
  color: #1f1c7a;
}

/*Identitas*/

.identitas {
  /* background-color: #e8f0f8; */
  padding: 0 130px;
  height: 500px;
  margin-top: 90px;
}

.biodata {
  color: #1f1c7a;
  font-family: viga;
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

.container-indent {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: -90px;
}

.cards-ident {
  width: 250px;
  height: 350px;
  background: #86b5e4;
  border-radius: 20px;
  margin: 20px;
}

.head-ident {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.head-ident img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.body-ident {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.identitas .container-indent img {
  display: flex;
  flex-direction: column;
}

main #biodata {
  position: relative;
}

/*footer*/

.Footer {
  background: #005eeb;
  padding: 10px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.Footer P {
  color: #fff;
  font-size: 15px;
  padding-bottom: 1px;
}

/*reponsive*/

@media screen and (max-width: 768px){
  header .navbar-container {
    flex-direction: column;
  }

  header .navbar-container .isi-logo ul {
    flex-wrap: wrap;
    column-gap: .5rem;
  }

  main {
    padding: 1rem 3rem;
  }

  main .beranda {
    flex-direction: column;
    gap: 2rem;
  }

  main .kiri-header {
    font-size: 3rem;
  }

  main .kiri-header p {
    font-size: 2rem;
  }

  main .kiri-header img {
    order: -1;
  }

}
